# **importing the libraries**

In [87]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# **loading the Data set**

In [88]:
data = pd.read_csv('/content/drive/MyDrive/Churn_Modelling.csv')

In [89]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [90]:
data.shape

(10000, 14)

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

# **checking the Data set**

In [92]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

# **Feature Engineering**

 One Hot Encoding Transforming Chategorical Data to Numeric

In [93]:
data.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [95]:
pd.get_dummies(data['Gender']).head()

   Female  Male
0       1     0
1       1     0
2       1     0
3       1     0
4       1     0

In [96]:
sex = pd.get_dummies(data['Gender'], drop_first=True)
sex.head()

   Male
0     0
1     0
2     0
3     0
4     0

i have droped the first column because only one column is sufficient to determine the gender of the customers either male(1) or female(0)

In [97]:
data.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [98]:
pd.get_dummies(data['Geography']).head()

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       1        0      0
3       1        0      0
4       0        0      1

In [99]:
Geography = pd.get_dummies(data['Geography'],drop_first = True)
Geography.head(5)

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [100]:
surname = pd.get_dummies(data["Surname"],drop_first = True)

In [101]:
surname.head()

,Abbie,Abbott,Abdullah,Abdulov,Abel,Abernathy,Abramov,Abramova,Abramovich,Abramowitz,...,Zinachukwudi,Zito,Zotov,Zotova,Zox,Zubarev,Zubareva,Zuev,Zuyev,Zuyeva
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# concatenate the above two data to the original df

In [102]:
new_data=pd.concat([sex,Geography], axis=1)

In [103]:
new_data.head()

   Male  Germany  Spain
0     0        0      0
1     0        0      1
2     0        0      0
3     0        0      0
4     0        0      1

# drop the repeated columns

In [104]:
new_data.head()

   Male  Germany  Spain
0     0        0      0
1     0        0      1
2     0        0      0
3     0        0      0
4     0        0      1

# splitting the dataset into the Training set and Test set

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
X=new_data

In [107]:
EstimatedSalary = pd.get_dummies(data['EstimatedSalary'],drop_first = True)
EstimatedSalary.head(5)

,90.07,91.75,96.27,106.67,123.07,142.81,143.34,178.19,216.27,236.45,...,199805.63,199808.10,199841.32,199857.47,199862.75,199909.32,199929.17,199953.33,199970.74,199992.48
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
y=EstimatedSalary

In [109]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [110]:
print("X_train", X_train.shape)
print("X_test", X_test.shape)
print("y_train", y_train.shape)
print("y_test", y_test.shape)

X_train (7000, 3)
X_test (3000, 3)
y_train (7000, 9998)
y_test (3000, 9998)

# Training Random Forest Classification On Training set

In [111]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=5, criterion="entropy", random_state=0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=5, random_state=0)

# Predicting the Test Result

In [112]:
y_pred = classifier.predict(X_test)
y_pred

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

# confusion matrix

In [113]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,accuracy_score

In [114]:
confusion_matrix(y_test.values.argmax(axis=1), y_pred.argmax(axis=1))

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [116]:
accuracy_score(y_test,y_pred)

0.0

# Try with different Numbers of Trees and gini

In [118]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 7, criterion = "gini",random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=7, random_state=0)

In [119]:
y_pred = classifier.predict(X_test)

In [120]:
accuracy_score (y_test, y_pred)

0.0